@import 'tailwindcss';
@plugin '@tailwindcss/typography';

@theme {
	--color-primary: #529ff2;
}

@layer base {
	html {
		background-color: theme(colors.neutral.950);
		color: theme(colors.neutral.100);
	}
}
